<div class="row">

<div class="span3">

</div>

<div class="well well-large span4">

<h1 align="center">Edit Profile <i class="icon-wrench"> </i></h1>  


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <%if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>
 
 <%= f.password_field :password, autocomplete: "off" ,class: "block stable_hieght" ,placeholder: "Passowrd" %>



 <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "block stable_hieght" ,placeholder: "Passowrd Confirmation"%>


    <%= f.password_field :current_password, autocomplete: "off" ,class: "block stable_hieght" ,placeholder: "Current Passowrd"%>


 <%= f.file_field :avatar , class: "block stable_hieght" %>

 <%= f.submit "Update" , class: "btn btn-success btn-block block stable_hieght" %>
 
<% end %>

<h3>Delete my account</h3>

<%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,  class: "btn btn-danger btn-block stable_hieght" %>

</div>

</div>
