<div class="row">
  <div class="span4">
    
  </div>
  <div class="well well-large span4">

<h1 align="center">Sign up <i class="icon-user"> </i></h1>  


<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {:multipart => true})  do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true ,class:"block stable_hieght" ,placeholder: "Email" %>

 
    <%= f.password_field :password, autocomplete: "off", class:"block stable_hieght" , placeholder: "Password"  %>

  
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"block stable_hieght" , placeholder: "Password Confirmation"  %>
  <div><%= f.file_field :avatar %></div>

  <div><%= f.submit "Sign up",class: "stable_hieght btn btn-success btn-block " %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>