<div class="row">

   <h1><%= @pageTitle.html_safe%></h1>

</div>
<div class="row hidden-xs">
  
</div> 
<div class="row">
  
<table class="table table-hover table-responsive">
  <thead>
    <tr>
     <td></td>
    </tr>
  </thead>

  <tbody>

    <% @tweets.each do |tweet| %>
      <tr >
      <td class="span2">
        <%= image_tag tweet.user.avatar.url(:thumb) %>
        </td>
        <td class="span9">
       <blockquote> <%= tweet.content %> 
        <small><cite ><%= tweet.user.email %></cite>     </small>

        </blockquote>
      </td>
     
      <td class="span1 ">
 <% if(tweet.user_id==current_user.id) %>
      <%= link_to '<i class="icon-remove pull-right"> </i>'.html_safe ,tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
      </td>
    
        </tr>
    <% end %>
  </tbody>
</table>

  </div>
<br>

<%= render 'form' %>
